In [17]:
'''
Multiple line comments 
In this statenment we discus the User input with diffrents number 
'''

num1=int(input("Enter 1st number: "))
num2=int(input("Enter 2nd number: "))
result=num1 + num2

num1=int(input("Enter 1st number: "))
num2=int(input("Enter 2nd number: "))
result=num1 - num2

num1=int(input("Enter 1st number: "))
num2=int(input("Enter 2nd number: "))
result=num1 * num2


num1=int(input("Enter 1st number: "))
num2=int(input("Enter 2nd number: "))
result=num1 / num2

num1=int(input("Enter 1st number: "))
num2=int(input("Enter 2nd number: "))
result=num1 % num2

print("The result is",result)

Enter 1st number:  8
Enter 2nd number:  2

The result is 4.0

In [23]:
'''base=float(input("Enter the Base: "))
height=float(input("Enter the heigh: "))

area=0.5*base*height
print(area)'''



raidus=float(input("Enter the raidus: "))

area=3.1416*raidus*raidus
print(area)

Enter the raidus:  4

50.2656

In [81]:
print(6)
'''
function are 2 types 
1.library function 
2.userdifined function 
#print library function 
#input libarary ,Max,Min

'''

from math import *
print(max(24,12))

print(min(24,12))
print(abs(-24))
print(pow(24,12))
#print(sqrt(24,12))
print(round(4.6))

6
24
12
24
3.652034743605658e+16
5

In [35]:
print(floor(4.5))
print(ceil(4.6))

4
5

In [75]:
#Type Function ueses
num="Rasel"
print(type(num))

num=100
print(type(num))

num=100.78
print(type(num))

print(type(False))
print(type(True))




num1=20
num2=30
print("Sum is : " ,num1+num2)

print("Rasel Sarker",end="\t ")
print("Naim Urc")

#print(f" {num1} + {num2} = {num1+numm2} ")

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>
Sum is :  50
Rasel Sarker	 Naim Urc

In [13]:
#relational operator 
result=50>20
print(result)

#print("Rasel"="Rasel")
print("Rasel"=="Rasel")


#a=b its called valu of b is stored in a
#a==b means both valus is Equal.


print(50>20)
print(50<20)
print(50>=20)
print(15<=20)
#print(50=50)
print(50==20)
print(50!=20)

True
True
True
False
True
True
False
True

In [44]:
marks=99
if marks>=80:
    {
    print(" pass")
    }    
else:
    {
    print("Fail")
    }


#largest number
num1=10
num2=-20

if(num1>num2):

    print(num1)
else:
    print(num2)


#even odd number
#num =8
num2= 5
if num2 % 2 == 0:
    print(" Even")

else:
    print("Odd")

 pass
10
Odd

In [66]:
#User input 
#marks=80, set the valus 


marks=int(input("Enter the Marks is = "))

if marks>=90:
    print("The Subject Grade is : A+")
elif marks>=85:
    print("The Subject Grade is : A")
elif marks>=80:
    print("The Subject Grade is : B+ ")
elif marks>=75:
    print("The Subject Grade is : B")
elif marks>=70:
    print("The Subject Grade is : B-")

elif marks>=65:
    print("The Subject Grade is : C-")

elif marks>=60:
    print("The Subject Grade is : D")

else:
    print(" Fail")

Enter the Marks is =  88

The Subjrect Grade is : A

In [87]:
'''
inner statement if...if

'''
num1=30
num2=-80
num3=-40

if num1>num2:
    if num1>num3:
        print(num1)
if num2>num1:
    if num2>num3:
        print(num2)

else:
    print(num3)
    
"""
tarnary operator
"""
max=int(input(" Enter the number is : "))

print(num1 if num1>num2 else num2)


max=num1 if num1>num2 else num2
print(max)

30
-40

 Enter the number is :  44

30
30

In [91]:
num1=int(input(" Enter the number is : "))
num2=int(input(" Enter the number is : "))




print(num1 if num1>num2 else num2)


max=num1 if num1>num2 else num2
print(max)

 Enter the number is :  33
 Enter the number is :  44

44
44

In [ ]:
# and or not 
# Logical oprator